<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">


    <!--  PreProcessor  -->
    <bean id="to_lower" class="edu.school21.pre_processor.PreProcessorToLowerImpl"/>
    <bean id="to_upper" class="edu.school21.pre_processor.PreProcessorToUpperImpl"/>

    <!--  Renderer  -->
    <bean id="rend_err_to_lower" class="edu.school21.render.RendererErrImpl">
        <constructor-arg ref="to_lower"/>
    </bean>
    <bean id="rend_err_to_upper" class="edu.school21.render.RendererErrImpl">
        <constructor-arg ref="to_upper"/>
    </bean>
    <bean id="rend_std_to_lower" class="edu.school21.render.RendererStandardImpl">
        <constructor-arg ref="to_lower"/>
    </bean>
    <bean id="rend_std_to_upper" class="edu.school21.render.RendererStandardImpl">
        <constructor-arg ref="to_upper"/>
    </bean>

    <!--  Printer  -->
    <bean id="printer_prefix_rend_err_to_lower" class="edu.school21.printer.PrinterWithPrefixImpl">
        <constructor-arg ref="rend_err_to_lower"/>
        <property name="prefix" value="PREFIX"/>
    </bean>
    <bean id="printer_prefix_rend_err_to_upper" class="edu.school21.printer.PrinterWithPrefixImpl">
        <constructor-arg ref="rend_err_to_upper"/>
        <property name="prefix" value="PREFIX"/>
    </bean>
    <bean id="printer_prefix_rend_std_to_lower" class="edu.school21.printer.PrinterWithPrefixImpl">
        <constructor-arg ref="rend_std_to_lower"/>
        <property name="prefix" value="PREFIX"/>
    </bean>
    <bean id="printer_prefix_rend_std_to_upper" class="edu.school21.printer.PrinterWithPrefixImpl">
        <constructor-arg ref="rend_std_to_upper"/>
        <property name="prefix" value="PREFIX"/>
    </bean>

    <bean id="printer_time_rend_err_to_lower" class="edu.school21.printer.PrinterWithDateTimeImpl">
        <constructor-arg ref="rend_err_to_lower"/>
    </bean>
    <bean id="printer_time_rend_err_to_upper" class="edu.school21.printer.PrinterWithDateTimeImpl">
        <constructor-arg ref="rend_err_to_upper"/>
    </bean>
    <bean id="printer_time_rend_std_to_lower" class="edu.school21.printer.PrinterWithDateTimeImpl">
        <constructor-arg ref="rend_std_to_lower"/>
    </bean>
    <bean id="printer_time_rend_std_to_upper" class="edu.school21.printer.PrinterWithDateTimeImpl">
        <constructor-arg ref="rend_std_to_upper"/>
    </bean>
</beans>