<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="hikari_DS" class="school21.spring.service.repositories.UsersRepositoryJdbcImpl.HikariDS"/>

    <bean id="usr_repo_JDBS" class="school21.spring.service.repositories.UsersRepositoryJdbcImpl">
        <constructor-arg name="data_source" ref="hikari_DS"/>
    </bean>

    <bean id="template_DS" class="school21.spring.service.repositories.UsersRepositoryJdbcTemplateImpl.ManagerDS"/>

    <bean id="usr_repo_JDBS_template" class="school21.spring.service.repositories.UsersRepositoryJdbcTemplateImpl">
        <constructor-arg name="manager_data_source" ref="template_DS"/>
    </bean>

</beans>